* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  --background-color: #f3f3f3;
  --darktext-color: #273542;
  --lighttext-color: #c4e5ee;
}
body {
  cursor: url(pandacursor.png), auto;
}
header {
  display: grid;
  grid-template-columns: auto 1fr;
  color: #273542;
  padding: 5px;
  background-color: #f3f3f390;
  padding: 10px;
  position: fixed;
  width: 100vw;
  top: 0px;
  z-index: 3;
}
h1 {
  font-family: "Zhi Mang Xing", cursive;
}
.websitetitle {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  align-items: center;
}
.websitetitle img {
  border-radius: 50%;
}
.headermenu {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: right;
  gap: 5px;
}
.headermenu nav {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.socialmedias img {
  width: 30px;
  margin-right: 20px;
  transition: 0.2s ease-out;
}
.socialmedias img:hover {
  transform: rotate(20deg) scale(1.1);
}
nav li {
  list-style: none;
  cursor: pointer;
}
.menu {
  transform: translateY(5px);
}
.menu li:not(.downelement, .downelementtwo) {
  display: inline;
}
.menu .us {
  margin-right: 30px;
}
.menu .us:hover {
  border-bottom: 2px solid #273542;
  padding: 5px 0px;
  transition: 0.2s ease-in-out;
}
.offer,
.travelguide {
  padding: 10px;
}

.travelguide {
  margin-right: 10px;
}
.dropdown {
  position: fixed;
  top: 100%;
  left: 10px;
  display: grid;
  gap: 6px;
  border: 2px solid #273542;
  border-radius: 10px;
  font-size: 0.85rem;
  visibility: hidden;
  height: 90px;
  width: 140px;
  padding: 10px;
  background-color: white;
  transition: 0.2s cubic-bezier(0.42, 0.41, 0.85, 0.05);
  opacity: 0;
}
.dropdowntwo {
  position: fixed;
  top: 100%;
  left: 160px;
  display: grid;
  gap: 6px;
  border: 2px solid #273542;
  border-radius: 10px;
  font-size: 0.85rem;
  visibility: hidden;
  height: 100px;
  width: 100px;
  padding: 10px;
  background-color: white;
  transition: 0.2s cubic-bezier(0.42, 0.41, 0.85, 0.05);
  opacity: 0;
}
.offer:hover > .dropdown,
.travelguide:hover > .dropdowntwo {
  visibility: visible;
  opacity: 1;
}

.dropdown a:hover,
.dropdowntwo a:hover {
  color: #388a9a;
  background-color: #eaf3f0;
  padding: 2px;
}

nav li a {
  text-decoration: none;
  color: inherit;
}
nav img {
  margin-right: 20px;
  border-radius: 50%;
  border: 2px solid #273542;
  padding: 3px;
  background-color: white;
  display: none;
}
header button {
  background-color: transparent;
  padding: 5px 10px;
  border: 2px solid #273542;
  border-radius: 10px;
  width: 80px;
  margin-right: 15px;
  transition: ease-in-out 0.2s;
}
header button a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
header button:hover {
  background-color: #ec6caa;
  color: white;
  border: none;
}
/* header complete */
.promote {
  position: relative;
  z-index: -1;
}
video {
  width: 100vw;
}
.wrapper-promote {
  position: absolute;
  top: 140px;
  left: 30px;
  color: ivory;
  text-shadow: 1px 1px 1px #273542;
}
.wrapper-promote h2 {
  width: 600px;
  margin-bottom: 30px;
}
.wrapper-promote p {
  line-height: 30px;
  font-size: 1.2rem;
}
.addlayer a {
  margin-top: 20px;
  color: ivory;
  text-decoration: none;
  display: grid;
  grid-template-columns: auto auto;
  width: 300px;
  align-items: center;
  transition: 0.2s ease-in-out;
  position: absolute;
  top: 400px;
  left: 32px;
  text-shadow: 1px 1px 1px #273542;
}
.addlayer a img {
  width: 40px;
  border-radius: 50%;
  background-color: black;
}
.addlayer a:hover {
  filter: invert(30%);
  transform: scale(1.12) translateX(20px);
  cursor: pointer;
}
/* section promote end */
.feature-cards {
  height: fit-content;
  background-color: #eaeaea;
  position: relative;
  color: var(--darktext-color);
}
.background-pic {
  position: absolute;
  width: 100px;
}
.top-left {
  top: 0px;
  left: 0px;
}
.top-right {
  top: 0px;
  right: 0px;
}
.bottom-left {
  bottom: 0px;
  left: 0px;
}
.bottom-right {
  bottom: 0px;
  right: 0px;
}
.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: center;
  text-align: center;
}
.wrappercard {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding: 20px;
}
.card {
  position: relative;
}
.card h3 {
  margin-bottom: 15px;
}
.card p {
  margin-bottom: 20px;
  max-width: 280px;
  font-size: 0.9rem;
  text-align: justify;
  padding-left: 25px;
}
.readmore {
  text-decoration: none;
  color: #273542;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: lightblue;
  transition: 0.2s ease-in-out;
}
.readmore:hover {
  color: #d5eded;
  background: lightcoral;
}
.hidden {
  position: absolute;
  bottom: 160px;
  left: 40px;
  text-decoration: none;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 5px;
  color: #d5eded;
  text-shadow: 0px 0px 1px black;
  visibility: hidden;
  transition: 0.3s ease-in;
  opacity: 0;
}
.card-pics {
  height: 400px;
  width: 300px;
  border-radius: 20px;
  border: 5px solid ivory;
  object-fit: cover;
  margin: 5px;
  transition: 0.1s linear;
}
.card-pics:hover {
  filter: saturate(1.5);
  transform: rotateY(8deg);
}
.card:hover .hidden {
  visibility: visible;
  opacity: 1;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  transform: translateY(-30px);
}
.tiantan {
  object-position: -363px 0px;
  object-fit: cover;
}
.shanghai {
  object-position: 0px -100px;
}
/* travel plan finished */
.testmonial {
  height: fit-content;
  background: no-repeat url(image/test.png),
    linear-gradient(180deg, #dedede, #d9d9d9);
  background-position: left 15% center;
  display: grid;
  justify-items: center;
  padding: 40px;
}
.testmonial h2 {
  color: var(--darktext-color);
  font-size: 2rem;
  margin-bottom: 10px;
}
.testmonial h3 {
  color: #27354280;
}
.test-card {
  margin-top: 40px;
  display: grid;
  gap: 10px;
  position: relative;
  left: 25vw;
}
.test {
  display: grid;
  grid-template-rows: auto auto;
  gap: 5px;
  background: url(https://i.pinimg.com/originals/97/1f/96/971f96faed60ed005ea82a640548123a.png);
  width: 400px;
  justify-content: center;
  padding-bottom: 20px;
  border-radius: 20px;
  transition: 0.2s ease-in;
}
.test:hover {
  transform: scale(1.05);
  filter: contrast(1.2);
}
.test section {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-top: -30px;
}
.test span {
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  transform: translateY(-25px);
  color: #d4f2e8;
}
.test p {
  width: 300px;
  /* background-color: #494166; */
  color: #d4f2e8;
  padding: 5px;
  padding: 5px;
  border-radius: 5px;
}
.review {
  height: 30px;
  width: 30px;
  transform: translateY(-20px);
}
.profile {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 3px #ed5736;
}
/* footer start */
footer {
  position: relative;
  background: no-repeat
    url(https://n.sinaimg.cn/sinacn20109/298/w1998h1500/20191229/5392-imkzenp3749884.jpg)
    #74b6f3;
  background-size: 700px 500px;
  color: var(--darktext-color);
  padding-top: 40px;
}
.footertitle h2 {
  margin-bottom: 10px;
}
footer div {
  width: 500px;
  margin-right: 100px;
  margin-bottom: 10px;
}
.footermain {
  display: grid;
  justify-content: end;
}
.contact {
  padding-bottom: 20px;
}
.contact h2 {
  margin-bottom: 10px;
}
.contact div {
  width: 400px;
  margin-bottom: 10px;
}
.contact h3 {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  margin-bottom: 5px;
}
.contact img {
  width: 25px;
  height: 25px;
  background-color: #c4e5ee;
  border-radius: 20%;
  padding: 5px;
  object-fit: fill;
}
.stickychat {
  color: black;
  text-align: end;
  position: fixed;
  border: 2px solid #273540;
  display: grid;
  grid-template-columns: 30px 1fr;
  background-color: white;
  align-items: center;
  justify-self: end;
  width: 120px;
  padding: 5px 8px;
  border-radius: 15px;
  bottom: 50px;
  right: 50px;
}
.copyright {
  color: #d5eded;
  padding: 10px;
  background-color: #27354090;
  text-align: center;
  font-weight: lighter;
  font-size: 0.8rem;
}
@media screen and (max-width: 1024px) {
  nav ul,
  nav button {
    display: none;
  }
  nav img {
    display: block;
  }
  .wrappercard {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
  }
  .test-card {
    margin-left: 5vw;
  }

  footer {
    filter: brightness(1.2);
  }
  footer .address {
    background-color: lightcyan;
    padding: 5px;
    border-radius: 5px;
  }
  @media screen and (max-width: 990px) {
    .wrapper-promote {
      display: none;
    }
    .test-card {
      margin-right: 10vw;
    }
  }
}
