* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  --background-color: #f3f3f3;
  --darktext-color: #273542;
  --lighttext-color: #c4e5ee;
}
header {
  display: grid;
  grid-template-columns: auto 1fr;
  color: #273542;
  padding: 5px;
  background-color: #f3f3f350;
  padding: 10px;
  width: 100vw;
  top: 0px;
  z-index: 3;
}
h1 {
  font-family: "Zhi Mang Xing", cursive;
}
.websitetitle {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  align-items: center;
}
.websitetitle img {
  border-radius: 50%;
}
.headermenu {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: right;
  gap: 5px;
}
.headermenu nav {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.socialmedias img {
  width: 30px;
  margin-right: 20px;
  transition: 0.2s ease-out;
}
.socialmedias img:hover {
  transform: rotate(20deg) scale(1.1);
}
nav li {
  list-style: none;
  cursor: pointer;
}
.menu {
  transform: translateY(5px);
}
.menu li:not(.downelement, .downelementtwo) {
  display: inline;
}
.menu .us {
  margin-right: 25px;
}
.home {
  margin-right: 15px;
}
.us:hover,
.home:hover {
  border-bottom: 2px solid #273542;
  padding: 5px 0px;
  transition: 0.2s ease-in-out;
}
.offer,
.travelguide {
  padding: 10px;
  transition: 0.2s ease;
}
.travelguide {
  margin-right: 10px;
}
.dropdown {
  position: fixed;
  top: 100%;
  left: 70px;
  display: grid;
  gap: 6px;
  border: 2px solid #273542;
  border-radius: 10px;
  font-size: 0.85rem;
  height: 90px;
  width: 140px;
  padding: 10px;
  background-color: white;
  transition: 0.2s ease-in-out;
  opacity: 0;
}
.dropdowntwo {
  position: fixed;
  top: 100%;
  left: 200px;
  display: grid;
  gap: 6px;
  border: 2px solid #273542;
  border-radius: 10px;
  font-size: 0.85rem;
  height: 100px;
  width: 100px;
  padding: 10px;
  background-color: white;
  transition: 0.2s ease-in-out;
  opacity: 0;
}
.offer:hover > .dropdown,
.travelguide:hover > .dropdowntwo {
  transition: 0.2s ease-in-out;
  opacity: 1;
}

.dropdown a:hover,
.dropdowntwo a:hover {
  color: #388a9a;
  background-color: #eaf3f0;
  padding: 2px;
}

nav li a {
  text-decoration: none;
  color: inherit;
}
nav img {
  margin-right: 20px;
  border-radius: 50%;
  border: 2px solid #273542;
  padding: 3px;
  background-color: white;
  display: none;
}
header button {
  background-color: transparent;
  padding: 5px 10px;
  border: 2px solid #273542;
  border-radius: 10px;
  width: 80px;
  margin-right: 15px;
  transition: ease-in-out 0.2s;
}
header button a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
header button:hover {
  background-color: #ec6caa;
  color: white;
  border: none;
}
/* header finished */
.overview {
  background: no-repeat
    url(https://wallpaper-house.com/data/out/8/wallpaper2you_288756.jpg);
  padding: 30px;
  color: var(--lighttext-color);
  display: grid;
  gap: 15px;
  justify-content: center;
}
.overview p {
  width: 600px;
}
.overview ul {
  justify-self: left;
  padding: 20px;
  border-radius: 20px;
}
.overview ul span {
  font-size: 1.2rem;
  padding: 5px 15px;
  border-radius: 10px;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREoSALtQtavhtvm9FjSsNoi7QQogvJ_rWYiw&usqp=CAU);
  color: whitesmoke;
}
.overview li {
  list-style: none;
  margin-top: 5px;
  transform: translateY(14px);
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  transition: ease-in-out 0.2s;
}
.overview li a {
  color: inherit;
  text-decoration: none;
}
.overview li:hover {
  transform: scale(1.05) translateY(10px);
}
.overview li img {
  height: 32px;
  width: 32px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}
/* overview finished */
.section {
  padding: 40px;
  color: var(--darktext-color);
}
.section p:not(.wrapper p) {
  max-width: 600px;
}
.section li {
  list-style: none;
}
/* common section end */
.online {
  display: grid;
  gap: 20px;
  padding: 40px;
  background: no-repeat
    url(https://lh3.googleusercontent.com/proxy/f59rRI_Dp3W1RpkqWPQF25w4lRx6N0tLelRkD7d1-g4pQkDt0Z3HVFD9fGc425Kt57BFqED6u_b_lMJQzJrDbkGiqqzW0i9CGk5pFgbI);
  background-color: var(--background-color);
  background-size: cover;
  justify-content: center;
}

.online h3 {
  display: grid;
  grid-template-columns: 150px 60px auto;
  align-items: center;
}
.online h3 img {
  height: 50px;
  width: 50px;
  border-radius: 10%;
}
.online h3 span {
  color: rgb(123, 184, 184);
  text-shadow: 1px 0px 0px black;
  font-size: 1.3rem;
}
/* online section finished */
.plan {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 10px;
  justify-items: center;
  text-align: center;
}
.plan span::after {
  content: "Quote";
  font-size: 1.2rem;
  padding: 5px 10px;
  background-color: aquamarine;
  margin: 5px;
  border-radius: 5px;
}
.plan span:hover::after {
  filter: contrast(2);
  transition: 0.2s ease-in-out;
}
.wrapper {
  max-width: 1000px;
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 330px);
}
.experience-card {
  width: 300px;
  display: grid;
  gap: 10px;
  padding: 20px;
  border: 2px solid var(--darktext-color);
  border-radius: 20px;
  justify-content: center;
  text-align: left;
}
.experience-card h3 {
  text-align: center;
}

.experience-card li {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin: 10px 0px;
  align-items: center;
}
.experience-card img:not(.svgs) {
  height: 200px;
  width: 265px;
}
.svgs {
  height: 20px;
  width: 20px;
}
.experience-card:hover {
  box-shadow: 0px 0px 2px 2px rgb(1, 27, 1);
  transform: translatey(3px);
  transition: 0.2s ease-in-out;
}
/* plan ends */
.booking {
  background-color: var(--background-color);
}
.text {
  display: grid;
  justify-items: center;
}
.hotels {
  display: grid;
  grid-template-columns: auto 250px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.hotels img {
  height: 300px;
  width: 400px;
  object-fit: cover;
  border: 4px solid snow;
  border-radius: 20px;
}

.hotel-card {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  margin-top: 30px;
}
.hotel-card div {
  display: grid;
  gap: 5px;
  justify-items: center;
}
.hotel-card span {
  background: linear-gradient(45deg, pink, blue);
  color: #eaf3f0;
  padding: 5px 10px;
  border-radius: 5px;
  width: fit-content;
}

.hotel-one {
  transform: translate(10px, 60px);
  z-index: 1;
}
.hotel-two {
  transform: translatex(-30px);
}
.hotel-three {
  transform: translate(-100px, -60px);
}
.hotel-card img:hover {
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
}
.copyright {
  color: #d5eded;
  padding: 10px;
  background-color: #27354090;
  text-align: center;
  font-weight: lighter;
  font-size: 0.8rem;
}
@media screen and (max-width: 910px) {
  nav ul,
  nav button {
    display: none;
  }
  nav img {
    display: block;
  }
  .wrapper {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
  }
  .hotel-card {
    display: none;
  }
}
